html, body{
	height:100%;
	font: 'Optima', 'Futura', sans-serif;
	padding: 0;
	overflow-x: hidden;
}

.container-fluid{
	height:100%;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x:hidden;
}

.header {
	height: 100vh;
	text-align:center;
	background-image: url("");
	background-color: #FFFFFF;
}

.header img{
	margin-top: 30vh;
}

.info {
	height: 100px;
	background-color: #111111;
	padding: 0;
	margin:0;
}


.navbar .nav .navtabs .active{
	background-color: #111111;
}


.active {
	height:15px;
}

.linkimg{
	height: 300px;
	width: auto;
}
.img1 {
	height: 60vh;
	position: relative;
	background-image: url('https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12189951_1648796388692286_5708132074164282435_n.jpg?oh=463b7e14d2267709709ccd015d5b3f5e&oe=5702609B');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.links{
	position: relative;
	text-align:center;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #111111;
}

.links a{
	margin:auto;
	color: inherit;
}

.links img:hover{
	opacity:0.7;
}

.instafeed{
	height: 100%;
	width: 50%;
	margin:auto;
}

.img2 {
	height: 80vh;
	position: relative;
	background-image: url('https://scontent.fmel1-1.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/10390517_1660960924142499_7914074235766640705_n.jpg?oh=3c8c345839ea49eb753f02e9b008929b&oe=56FF908D');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.contact {
	width:100%;
	position: absolute;
	bottom:0;
	left:0;
	height: 20vh;
	padding-left: 10px;
	background-color: #FFFFFF;
	color: #111111;
	opacity:0.5;
}
.fa {
	font-size: 2em;
	padding-left: 10px;
	color: #111111;
}

.icon-links span:hover{
	color:#1111FF;
}


footer {
	background-color: #333333;
	color: #EEFFFF;
	bottom:0;
	right:0;
}

footer a{
	color: inherit;
}

footer p{
		display:inline;

}

.top{
	height: 25vh;
	background-color: #111111;
}

.top img{
	height:25vh;
	float:right;
}

.text{
	width: 80%;
	margin: auto;
}

.embed-responsive{
	width: 80%;
	margin:auto;
}

.img3{
	height: 80vh;
	background-image: url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xta1/v/t1.0-9/12107845_1642964419275483_1960742491066731994_n.jpg?oh=7d62a845975b7fdc7d675faf23ee5452&oe=57039F9E&__gda__=1460327011_cc892744a988c69591eba59baa4d05ea");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.store-header{
	text-align:center;
	border-bottom-style: solid;
	border-bottom-color: #000;
}

.store {
	margin-bottom: 20%;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin: 10px 20px 10px 20px;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
margin-top: 10px;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.itemdisplay{
	margin: 10% 0 20% 0;
}

.itemdisplay img{
	margin-left: 5%;
}

.itemdisplay img:hover{
	opacity:0.7;
}
.input-group {
	width: 200px;
}
.input-group button{
	height: 35px;
}

#cart{
	background-color: #0099ff;
}

.spacing {
	margin-top: 20px;
	height: 20vh;
	border-top-style: solid;
	border-top-color: #000;
}


.blogitems li{
	list-style: none;
	margin: 10px 0 10px 0;
}

.blogitems li:hover{
	opacity:0.7;
}


.blogitems a{
	color:inherit;
}

#admin {
	color:#fff;
	border-right-style: solid;
	border-right-color:#fff;
}

#contact{
	color:inherit;
}

.login{
	margin-top: 50px;
}


.para1{
	border-bottom-style: solid;
	margin-bottom: 10px;
	height: 300px;
}

.para1 p{
	margin-top: 50px;
}
.para1 img{
	width: 25%;
	float: right;
	margin: 10px;
	clear: left;

}

.para2{
	border-bottom-style: solid;
	margin-bottom: 10px;
	height: 300px;
}

.para2 img{
	width: 20%;
	float: left;
	margin: 10px;
	clear:right;
}

.para3{
	margin-bottom:10px;
}
